<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">More Information</h3>
				<ul class="mb3">
					<li><a href="/events" class="link">Events</a></li>
					<li><a href="/donate" class="link">Donate</a></li>
					<li><a href="/contact" class="link">Volunteer</a></li>
				</ul>
				<p>
					<a href="tel:812-637-2841">812-637-2841</a><br/>
					<a href="mailto:info@northdearbornpantry.org">info@northdearbornpantry.org</a>
				</p>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Location & Hours</h3>
				<address>
					2517 North Dearborn Road<br/>
					West Harrison, IN 47060<br/>
				</address>
				<p>
					<br/>
					<strong>Sunday</strong> 5:30pm-7:30pm<br/>
					<strong>Monday</strong> 9am-noon<br/>
					<strong>Tuesday</strong> 5:30pm-7:30pm<br/>
					<strong>Saturday</strong> 9am-noon
				</p>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/pages/North-Dearborn-Pantry-Inc/100886819956365?fref=ts" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/NDPantry" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/northdearbornpantry/" "svg" "icons-instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
