<header class="black-80 tc pv4">
	<h1 class="mt2 mb0 baskerville i fw1 f1 w5 center"><a href="/"><img src="/img/ndearbornpantry_logo.svg" alt="North Dearborn Pantry logo" /></a></h1>
	<nav class="tc mw7 center b grey-3">
		<a class="f6 f5-l link pa3 no-underline ph4-l" href="/about">About</a>
		<a class="f6 f5-l link pa3 no-underline ph4-l" href="/how-to-help">How to Help</a>
		<a class="f6 f5-l link pa3 no-underline ph4-l" href="/events">Events</a>
		<a class="f6 f5-l link pa3 no-underline ph4-l" href="/donate">Donate</a>
		<a class="f6 f5-l link pa3 no-underline ph4-l" href="/contact">Contact</a>
	</nav>
</header>
