{{ if .Site.Params.alert -}}
  {{ partial "header/alert.html" . }}
{{ end -}}

<header class="black-80 tc pv4">
	<h1 class="mt2 mb0 baskerville i fw1 f1 w5 center"><a href="/"><img src="/ndearbornpantry_logo.svg" alt="North Dearborn Pantry logo" /></a></h1>
	<nav id="nav" role="navigation" class="rc_nav responsive nav tc mw9 pv2 center b green-background"> <a href="#nav" title="Show navigation">Show navigation</a> <a href="#" title="Hide navigation">Hide navigation</a>
		<ul class="clearfix center-me">
			<li><a href="/about">Who We Are</a></li>
			<li><a href="/how-to-help">How to Help</a></li>
			<li><a href="/events">Events</a></li>
			<li><a href="/donate">Donate</a></li>
			<li><a href="/need">Need Food?</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
</header>
<!-- 

<header class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand monospace" href="{{ "/" | absURL }}">{{ .Site.Params.Title }}</a>
    <div class="ms-auto">
    {{ range .Site.Menus.main }}
      <span class="navbar-text">
        <a href="{{ .URL }}">{{- .Name -}}</a>
      </span>
    {{ end }}
    </div>
  </div>
</header> -->